<div th:fragment="input_field(htmlId, fieldName, title)">
  <div class="row mb-3">
    <label th:for="${htmlId}"
           class="col-sm-2 col-form-label"
           th:text="${title}">First Name</label>
    <div class="col-sm-10">
      <input th:id ="${htmlId}"
             type="text"
             class="form-control"
             th:field="*{__${fieldName}__}">
      <span th:if="${#fields.hasErrors(fieldName)}"
            th:errors="*{__${fieldName}__}"
            class="error"></span>
    </div>
  </div>
</div>