<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title th:text="#{label.designation.page.title}"/>
    <meta content="" name="description">
    <meta content="" name="keywords">
</head>

<body>
<div th:replace="~{links}"></div>
<div th:insert="~{fragments/navbar_fragment :: navbar(${loggedInUser.getUsername()})}"></div>
<div th:replace="~{sidebar}"></div>

<main id="main" class="main">
    <section class="section">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${title}"></h5>
                    <form action="#"
                          th:action="@{/editCategory}"
                          th:object="${categoryDto}"
                          method="post">
                        <input type="hidden"
                               name="selectedCategoryId"
                               th:value="${categoryId}">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-floating mb-3">
                                    <div class="form-group">
                                        <label> Title </label>
                                        <input type="text"
                                               class="form-control"
                                               id="exampleFormControlInput1"
                                               placeholder="name@example.com"
                                               th:field="*{title}"
                                               th:attrappend="disabled=${action.equals('View')} ? 'disabled' : ''">
                                        <span th:if="${#fields.hasErrors('title')}"
                                              th:errors="*{title}"
                                              class="error"></span>
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Description</label>
                                        <textarea class="form-control"
                                                  id="exampleFormControlTextarea1"
                                                  rows="3"
                                                  th:field="*{description}"
                                                  th:attrappend="disabled=${action.equals('View')} ? 'disabled' : ''"></textarea>
                                        <span th:if="${#fields.hasErrors('description')}"
                                              th:errors="*{description}"
                                              class="error"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${action.equals('Edit')}">
                            <div class="row form-group">
                                <div class="col-sm-10">
                                    <input type="submit"
                                           class="btn btn-primary"
                                           value="Submit">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<div th:replace="~{footer}"></div>

<a href="#"
   class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>

<script th:src="@{/resource/js/salaryInput.js}"></script>
<div th:replace="~{scripts}"></div>
</body>
</html>





