<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Forms / Elements - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
</head>

<body>
<div th:replace="~{links}"></div>
<div th:replace="~{topbar}"></div>
<div th:replace="~{sidebar}"></div>

<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-10">

                <div class="card">
                    <div class="register-card-body">
                        <h5 class="card-title">Company profile</h5>
                        <div th:if="${successMessage}"
                             th:text="${successMessage}"
                             class="alert alert-success">
                        </div>

                        <form th:action="@{/createCompanyProfile}"
                              th:object="${jobInformationDto}"
                              method="post">
                            <input type="hidden"
                                   name="selectedUserId"
                                   th:value="${selectedUserIdselectedUserId}" >

                            <input type="hidden"
                                   th:field="*{user}" >
                            <!-- Joining Date -->
                            <div th:include="fragments/date_fragment :: calender_input(fieldName='joiningDate', title='Joining Date')"></div>

                            <!-- Designation -->
                            <div class="row mb-3">
                                <label class="col-sm-4 col-form-label">Designation</label>
                                <div class="col-sm-8">
                                    <select class="form-select"
                                            aria-label="Default select example"
                                            th:field="*{designationId}">
                                        <option th:value="${0}" selected>Please Select</option>
                                        <div th:each="designation: ${designationList}">
                                            <option th:value="${designation.id}"
                                                    th:text="${designation.title}"></option>
                                        </div>
                                    </select>
                                    <span th:if="${#fields.hasErrors('designationId')}"
                                          th:errors="*{designationId}"
                                          class="error"></span>
                                </div>
                            </div>

                            <!-- Currency -->
                            <div class="row mb-3">
                                <label class="col-sm-4 col-form-label">Salary Currency</label>
                                <div class="col-sm-8">
                                    <select class="form-select"
                                            aria-label="Default select example"
                                            id="CurrencyDropdownMenu"
                                            th:field="*{currency}">
                                        <option th:value="${null}" selected>Please Select</option>
                                        <div th:each="currency: ${T(maks.erp.system.enums.Currency).values()}">
                                            <option th:value="${currency}"
                                                    th:text="${currency.sign}"></option>
                                        </div>
                                    </select>
                                    <span th:if="${#fields.hasErrors('currency')}"
                                          th:errors="*{currency}"
                                          class="error"></span>
                                </div>
                            </div>

                            <div th:include="fragments/create_job_info_fragments :: input_field(fieldName='basic', title='Basic Salary')"></div>
                            <div th:include="fragments/create_job_info_fragments :: input_field(fieldName='conveyanceAllowance', title='Conveyance allowance')"></div>
                            <div th:include="fragments/create_job_info_fragments :: input_field(fieldName='medicalReimbursement', title='Medical Reimbursement')"></div>
                            <div th:include="fragments/create_job_info_fragments :: input_field(fieldName='houseRent', title='House Rent')"></div>

                            <!-- Submit -->
                            <div class="row">
                                <div class="col-sm-10">
                                    <input type="submit"
                                           class="btn btn-primary"
                                           value="Submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<div th:replace="~{footer}"></div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>
<div th:replace="~{scripts}"></div>
<script th:src="@{/resource/js/currency_input.js}"></script>

</body>

</html>