<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Forms / Elements - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
</head>

<body>
<div th:replace="~{links}"></div>
<div th:replace="~{topbar}"></div>
<div th:replace="~{sidebar}"></div>

<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-10">

                <div class="card">
                    <div class="register-card-body">
                        <h5 class="card-title">General Information</h5>

                        <div th:if="${successMessage}"
                             th:text="${successMessage}"
                             class="alert alert-success">
                        </div>

                        <form th:action="@{/createUser}"
                              th:object="${userDto}"
                              method="post"
                              enctype="multipart/form-data">

                            <!-- Username-->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Username</label>
                                <div class="col-sm-10">
                                    <div class="input-group mb-3">
                                      <span class="input-group-text"
                                            id="basic-addon1">@</span>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Username"
                                               aria-label="Username"
                                               aria-describedby="basic-addon1"
                                               th:field="*{username}">
                                    </div>
                                    <span th:if="${#fields.hasErrors('username')}"
                                          th:errors="*{username}"
                                          class="error">
                                    </span>
                                </div>
                            </div>
                            <div th:insert="~{fragments/general_input :: input_field(fieldName='firstName', title='First Name')}"></div>
                            <div th:insert="~{fragments/general_input :: input_field(fieldName='lastName', title='Last Name')}"></div>

                            <!-- Password -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password"
                                           class="form-control"
                                           th:field="*{password}">
                                </div>
                            </div>

                            <!-- UserDocument upload -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Documents Upload</label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           type="file"
                                           id="formFile"
                                           th:field="*{document}"
                                           accept="image/*,video/*,.pdf">
                                    <span th:if="${#fields.hasErrors('document')}"
                                          th:errors="*{document}"
                                          class="error"></span>
                                </div>
                            </div>

                            <!-- Birth Date-->
                            <div th:insert="~{fragments/date_fragment :: calender_input(fieldName='birthDate', title='Date of Birth')}"></div>

                            <!-- Gender -->
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                                <div class="col-sm-10">
                                    <div th:each = "gen: ${T(maks.erp.system.enums.Gender).values()}">
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                   type="radio"
                                                   th:value="${gen}"
                                                   th:field= "*{gender}">
                                            <label class="form-check-label"
                                                   th:text = "${gen.fullString}">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <!-- Religion -->
                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Religion</label>
                                <div class="col-sm-6">
                                    <select class="form-select"
                                            aria-label="Default select example"
                                            th:field="*{religion}">
                                        <div th:each="reli: ${T(maks.erp.system.enums.Religion).values()}">
                                            <option th:value="${reli}"
                                                    th:text="${reli.fullString}"></option>
                                        </div>
                                    </select>
                                </div>
                            </div>

                            <!--  Contact Information -->
                            <h5 class="card-title">Contact Information</h5>
                            <div th:insert="~{fragments/general_input :: input_field(fieldName='contactInfo.mobileNumber', title='Mobile')}"></div>
                            <div th:insert="~{fragments/general_input :: input_field(fieldName='contactInfo.phone', title='Phone')}"></div>
                            <div th:insert="~{fragments/general_input :: input_field(fieldName='contactInfo.email', title='Email')}"></div>

                            <!-- Emergency Contact Information-->
                            <h5 class="card-title">Emergency Contact Information</h5>
                            <div th:insert="~{fragments/general_input :: input_field(fieldName='emergencyContact.name', title='Name')}"></div>
                            <div th:insert="~{fragments/general_input :: input_field(fieldName='emergencyContact.phone', title='Phone')}"></div>
                            <div th:insert="~{fragments/general_input :: input_field(fieldName='emergencyContact.mobileNumber', title='Mobile')}"></div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Relation</label>
                                <div class="col-sm-6">
                                    <select class="form-select"
                                            aria-label="Default select example"
                                            th:field="*{emergencyContact.relation}">
                                        <div th:each="rela: ${T(maks.erp.system.enums.Relationship).values()}">
                                            <option th:value="${rela}"
                                                    th:text="${rela.relation}"></option>
                                        </div>
                                    </select>
                                </div>
                            </div>
                            <!-- End of Emergency Contact Information -->

                            <!-- Present Address -->
                            <h6 class="card-title">Present Address Information</h6>
                            <div th:insert="~{fragments/address_field_input :: input_field(htmlId='presentAddressRoad', fieldName='presentAddress.road', title='Road')}"></div>
                            <div th:insert="~{fragments/address_field_input :: input_field(htmlId='presentAddressThana', fieldName='presentAddress.thana', title='Thana')}"></div>
                            <div th:insert="~{fragments/address_field_input :: input_field(htmlId='presentAddressCity', fieldName='presentAddress.city', title='City')}"></div>
                            <div th:insert="~{fragments/address_field_input :: input_field(htmlId='presentAddressDistrict', fieldName='presentAddress.district', title='District')}"></div>
                            <div th:insert="~{fragments/address_field_input :: input_field(htmlId='presentAddressCode', fieldName='presentAddress.postalCode', title='Postal Code')}"></div>

                            <!-- Permanent Address -->
                            <h6 class="card-title">Permanent Address Information</h6>
                            <div class="row mb-3">
                                <div class="form-check">
                                    <label class="form-check-label"
                                           for="sameAddressCheckBox">
                                        Same as above
                                    </label>
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value=""
                                           id="sameAddressCheckBox">
                                </div>
                            </div>

                            <div th:insert="~{fragments/address_field_input :: input_field(htmlId='permanentAddressRoad', fieldName='permanentAddress.road', title='Road')}"></div>
                            <div th:insert="~{fragments/address_field_input :: input_field(htmlId='permanentAddressThana', fieldName='permanentAddress.thana', title='Thana')}"></div>
                            <div th:insert="~{fragments/address_field_input :: input_field(htmlId='permanentAddressCity', fieldName='permanentAddress.city', title='City')}"></div>
                            <div th:insert="~{fragments/address_field_input :: input_field(htmlId='permanentAddressDistrict', fieldName='permanentAddress.district', title='District')}"></div>
                            <div th:insert="~{fragments/address_field_input :: input_field(htmlId='permanentAddressCode', fieldName='permanentAddress.postalCode', title='Postal Code')}"></div>

                            <!-- Submit -->
                            <div th:replace="~{submit_button}"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<div th:replace="~{footer}"></div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>
<div th:replace="~{scripts}"></div>
<script th:src="@{/resource/js/addressResolver.js}"></script>

</body>

</html>