<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">

      <title th:text="#{label.designation.page.title}"/>
      <meta content="" name="description">
      <meta content="" name="keywords">
    </head>

    <body>
        <div th:replace="~{links}"></div>
        <div th:replace="~{topbar}"></div>
        <div th:replace="~{sidebar}"></div>

        <main id="main" class="main">
          <section class="section">
              <div class="card">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-11">
                            <h5 class="card-title"
                                th:text="#{label.designation}"></h5>
                        </div>

                        <div class="col-1">
                            <div class="plus-icon-container">
                                <i class="bi bi-plus-lg plus-icon icon-20"></i>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col" th:text="#{label.numbers}"></th>
                                <th scope="col" th:text="#{label.title}"></th>
                                <th scope="col" th:text="#{label.job.description}"></th>
                                <th scope="col" th:text="#{label.salary.range}"></th>
                                <th scope="col" th:text="#{label.action}"></th>
                            </tr>
                        </thead>
                        <tbody>
                        <form>

                        </form>
                            <tr th:each="des, iterStat: ${designationList}">
                                <form th:action="@{'/edit/{id}'(id=${des.id})}">
                                    <th scope="row" th:text="${iterStat.index + 1}"></th>
                                    <td th:text="${des.title}"></td>
                                    <td th:text="${des.jobDescription}"></td>
                                    <td th:text="${des.salaryRange}"></td>
                                    <td>
                                        <button class="btn btn-primary"
                                                type="submit">
                                            Edit
                                        </button>
                                    </td>
                                </form>

                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
          </section>
        </main>

        <div th:replace="~{footer}"></div>

        <a href="#"
           class="back-to-top d-flex align-items-center justify-content-center">
          <i class="bi bi-arrow-up-short"></i>
        </a>

        <script th:src="@{/js/salaryInput.js}"></script>
        <div th:replace="~{scripts}"></div>
    </body>
</html>