<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Forms / Elements - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
</head>

<body>
<div th:replace="~{links}"></div>
<div th:replace="~{topbar}"></div>
<div th:replace="~{sidebar}"></div>

<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-10">

                <div class="card">
                    <div class="register-card-body">
                        <h5 class="card-title">Company profile</h5>
                        <div th:if="${successMessage}"
                             th:text="${successMessage}"
                             class="alert alert-success">
                        </div>

                        <form th:action="@{/editCompanyProfile}"
                              th:object="${jobInformationDto}"
                              method="post">
                            <input type="hidden"
                                   th:field="*{user}">

                            <input type="hidden"
                                   th:field="*{currency}">

                            <!-- Joining Date-->
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <label>Joining Date</label>
                                </div>
                                <div class="col-sm-3" >
                                    <label th:text="*{getFormattedJoiningDate()}"></label>
                                    <input type="hidden"
                                           th:field="*{joiningDate}">
                                </div>
                            </div>

                            <!-- Designation -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Designation</label>
                                <div class="col-sm-10">
                                    <select class="form-select"
                                            aria-label="Default select example"
                                            th:field="*{designationId}">
                                        <option th:value="${0}" selected>Please Select</option>
                                        <div th:each="designation: ${designationList}">
                                            <option th:value="${designation.id}"
                                                    th:text="${designation.title}"></option>
                                        </div>
                                    </select>
                                    <span th:if="${#fields.hasErrors('designationId')}"
                                          th:errors="*{designationId}"
                                          class="error"></span>
                                </div>
                            </div>

                            <div th:include="fragments/edit_job_info_fragments :: input_field(currency=*{currency.sign}, fieldName='basic', title='Basic Salary')"></div>
                            <div th:include="fragments/edit_job_info_fragments :: input_field(currency= *{currency.sign}, fieldName = 'conveyanceAllowance', title='Conveyance Allowance')"></div>
                            <div th:include="fragments/edit_job_info_fragments :: input_field(currency= *{currency.sign}, fieldName = 'medicalReimbursement', title='Medical Reimbursement')"></div>
                            <div th:include="fragments/edit_job_info_fragments :: input_field(currency= *{currency.sign}, fieldName = 'houseRent', title='House Rent')"></div>

                            <!-- Submit -->
                            <div th:replace="~{submit_button}"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<div th:replace="~{footer}"></div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>
<div th:replace="~{scripts}"></div>
<script th:src="@{/resource/js/currency_input.js}"></script>

</body>

</html>