<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Forms / Elements - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
</head>

<body>
<div th:replace="~{links}"></div>
<div th:replace="~{topbar}"></div>
<div th:replace="~{sidebar}"></div>

<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-10">

                <div class="card">
                    <div class="register-card-body">
                        <h5 class="card-title">Company profile</h5>
                        <div th:if="${successMessage}"
                             th:text="${successMessage}"
                             class="alert alert-success">
                        </div>

                        <form th:action="@{/editCompanyProfile}"
                              th:object="${jobInformationDto}"
                              method="post">
                            <input type="hidden"
                                   th:field="*{user}">



                            <input type="hidden"
                                   th:field="*{currency}">

                            <!-- Joining Date-->
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <label>Joining Date</label>
                                </div>
                                <div class="col-sm-3" >
                                    <label th:text="*{getFormattedJoiningDate()}"></label>
                                    <input type="hidden"
                                           th:field="*{joiningDate}">
                                </div>
                            </div>

                            <!-- Designation -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Designation</label>
                                <div class="col-sm-10">
                                    <select class="form-select"
                                            aria-label="Default select example"
                                            th:field="*{designationId}">
                                        <option th:value="${0}" selected>Please Select</option>
                                        <div th:each="designation: ${designationList}">
                                            <option th:value="${designation.id}"
                                                    th:text="${designation.title}"></option>
                                        </div>
                                    </select>
                                    <span th:if="${#fields.hasErrors('designationId')}"
                                          th:errors="*{designationId}"
                                          class="error"></span>
                                </div>
                            </div>

                            <!-- Currency -->

<!--                            <div class="row mb-3">-->
<!--                                <label class="col-sm-2 col-form-label">Salary Currency</label>-->
<!--                                <div class="col-sm-10">-->
<!--                                    <label></label>-->
<!--&lt;!&ndash;                                    <select class="form-select"&ndash;&gt;-->
<!--&lt;!&ndash;                                            aria-label="Default select example"&ndash;&gt;-->
<!--&lt;!&ndash;                                            id="CurrencyDropdownMenu"&ndash;&gt;-->
<!--&lt;!&ndash;                                            th:field="*{currency}">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <option th:value="${null}" selected>Please Select</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div th:each="currency: ${T(maks.erp.system.enums.Currency).values()}">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <option th:value="${currency}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                    th:text="${currency.sign}"></option>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </select>&ndash;&gt;-->
<!--                                    <span th:if="${#fields.hasErrors('currency')}"-->
<!--                                          th:errors="*{currency}"-->
<!--                                          class="error"></span>-->
<!--                                </div>-->
<!--                            </div>-->

                            <!-- Basic Salary -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Basic Salary</label>
                                <div class="col-sm-10">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text currencySign"
                                              th:text="*{currency.sign}"></span>
                                        <input type="text" class="form-control"
                                               aria-label="Amount (to the nearest dollar)"
                                               th:field="*{basic}">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                    <span th:if="${#fields.hasErrors('basic')}"
                                          th:errors="*{basic}"
                                          class="error"></span>
                                </div>
                            </div>

                            <!-- Conveyance allowance -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Conveyance allowance</label>
                                <div class="col-sm-10">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text currencySign"
                                              th:text="*{currency.sign}"></span>
                                        <input type="text" class="form-control"
                                               aria-label="Amount (to the nearest dollar)"
                                               th:field="*{conveyanceAllowance}">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Medical Reimbursement -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Medical Reimbursement</label>
                                <div class="col-sm-10">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text currencySign"
                                              th:text="*{currency.sign}"></span>
                                        <input type="text" class="form-control"
                                               aria-label="Amount (to the nearest dollar)"
                                               th:field="*{medicalReimbursement}">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                </div>
                            </div>

                            <!-- House Rent -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">House Rent</label>
                                <div class="col-sm-10">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text currencySign"
                                              th:text="*{currency.sign}"></span>
                                        <input type="text" class="form-control"
                                               aria-label="Amount (to the nearest dollar)"
                                               th:field="*{houseRent}">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Submit -->
                            <div th:replace="~{submit_button}"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<div th:replace="~{footer}"></div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>
<div th:replace="~{scripts}"></div>
<script th:src="@{/resource/js/currency_input.js}"></script>

</body>

</html>