<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/dashboard}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/profile}">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li>

        <!-- Designation -->
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/designations}">
                <i class="bi bi-person-badge"></i>
                <span>Designations</span>
            </a>
        </li>

        <!-- Category -->
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/categories}">
                <i class="bi bi-person-badge"></i>
                <span>Categories</span>
            </a>
        </li>

        <!-- User -->
        <li class="nav-item">
            <a class="nav-link collapsed"
               data-bs-target="#user-nav"
               data-bs-toggle="collapse"
               href="#">
                <i class="bi bi-menu-button-wide"></i>
                <span>User</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="user-nav"
                class="nav-content collapse"
                data-bs-parent="#sidebar-nav">

                <li>
                    <a th:href="@{/createUser}">
                        <i class="bi bi-person-plus sidebar-icon"></i>
                        <span>Create User</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/users}">
                        <i class="bi bi-people sidebar-icon"></i>
                        <span>User List</span>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Product -->
        <li class="nav-item">
            <a class="nav-link collapsed"
               data-bs-target="#product-nav"
               data-bs-toggle="collapse"
               href="#">
                <i class="bi bi-menu-button-wide"></i>
                <span>Product</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="product-nav"
                class="nav-content collapse"
                data-bs-parent="#sidebar-nav">

                <li>
                    <a th:href="@{/createProduct}">
                        <i class="bi bi-plus sidebar-icon"></i>
                        <span>Create Product</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-heading">Pages</li>

        <li class="nav-item">
            <a class="nav-link " href="profile.html">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>F.A.Q</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-contact.html">
                <i class="bi bi-envelope"></i>
                <span>Contact</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-register.html">
                <i class="bi bi-card-list"></i>
                <span>Register</span>
            </a>
        </li>
    </ul>
</aside>