<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title th:text="#{label.designation.page.title}"/>
    <meta content="" name="description">
    <meta content="" name="keywords">
</head>

<body>
<div th:replace="~{links}"></div>
<div th:replace="~{topbar}"></div>
<div th:replace="~{sidebar}"></div>

<main id="main" class="main">
    <section class="section">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-10">
                        <h5 class="card-title"
                            th:text="${title}"></h5>
                    </div>

                    <div class="col-2">
                        <form th:action="@{/createUser}"
                              method="get">
                            <div class="plus-icon-container">
                                <button class="btn btn-link"
                                        type="submit">
                                    <i class="bi bi-plus-lg plus-icon icon-20"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table table-hover table-striped datatable"
                       id="designationsTable">
                    <thead>
                    <tr>
                        <th scope="col" th:text="#{label.numbers}"></th>
                        <th scope="col" th:text="#{label.username}"></th>
                        <th scope="col" th:text="#{label.title}"></th>
                        <th class="action-col" scope="col" th:text="#{label.view.details}"></th>
                        <th class="action-col" scope="col" th:text="#{label.company.profile}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user, iterStat: ${users}">
                        <th scope="row" th:text="${iterStat.index + 1}"></th>
                        <td th:text="${user.fullName}"></td>
                        <td th:text="${user.username}"></td>
                        <td>
                            <button class="btn btn-outline-dark"
                                    data-bs-toggle="modal"
                                    th:attr="data-bs-target=${'#ViewUserDetailsModal' + user.id}"
                                    data-th-rows="${user}"
                                    type="submit">
                                <i class="bi bi-info-circle-fill"></i>
                            </button>

                            <div th:replace="fragments/user_list_fragment :: view_user_details_modal (${user})"></div>

                        </td>
                        <td>
                            <div th:if="${user.jobInformation != null}">
                                <input type="hidden"
                                       name="selectedUserId"
                                       th:value="${user.id}">
                                <button class="btn btn-outline-warning"
                                        data-bs-toggle="modal"
                                        th:attr="data-bs-target=${'#ViewCompanyProfile' + user.id}"
                                        data-th-rows="${user}"
                                        type="submit">
                                    <i class="bi bi-briefcase-fill"></i>
                                </button>
                            </div>

                            <div th:if="${user.jobInformation == null}">
                                <form th:action="@{/companyProfile}"
                                      method="post">
                                    <input type="hidden"
                                           name="selectedUserId"
                                           th:value="${user.id}">
                                    <button class="btn btn-outline-dark"
                                            type="submit">
                                        <i class="bi bi-window-plus"></i>
                                    </button>
                                </form>
                            </div>
                            <div th:replace="fragments/user_list_fragment :: view_company_profile_modal(${user})"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>

<div th:replace="~{go_up}"></div>
<div th:replace="~{footer}"></div>
<div th:replace="~{scripts}"></div>
</body>
</html>