<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title th:text="#{label.designation.page.title}"/>
    <meta content="" name="description">
    <meta content="" name="keywords">
</head>

<body>
<div th:replace="~{links}"></div>
<div th:replace="~{topbar}"></div>
<div th:replace="~{sidebar}"></div>

<main id="main" class="main">
    <section class="section">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-11">
                        <h5 class="card-title"
                            th:text="${title}"></h5>
                    </div>

                    <div class="col-1">
                        <div class="plus-icon-container"
                             data-bs-toggle="modal"
                             data-bs-target="#AddDesignationModal">
                            <i class="bi bi-plus-lg plus-icon icon-20"></i>
                        </div>
                    </div>
                </div>
                <table class="table table-hover table-striped datatable"
                       id="designationsTable">
                    <thead>
                    <tr>
                        <th scope="col" th:text="#{label.numbers}"></th>
                        <th scope="col" th:text="#{label.username}"></th>
                        <th scope="col" th:text="#{label.title}"></th>
                        <th class="action-col" scope="col" th:text="#{label.view.details}"></th>
                        <th class="action-col" scope="col" th:text="#{label.company.profile}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user, iterStat: ${users}">
                        <th scope="row" th:text="${iterStat.index + 1}"></th>
                        <td th:text="${user.fullName}"></td>
                        <td th:text="${user.username}"></td>
                        <td>
                            <button class="btn btn-outline-dark"
                                    data-bs-toggle="modal"
                                    th:attr="data-bs-target=${'#ViewUserDetailsModal' + user.id}"
                                    data-th-rows="${user}"
                                    type="submit">
                                <i class="bi bi-info-circle-fill"></i>
                            </button>

                            <!-- Add Details View Modal -->

                            <div class="modal"
                                 tabindex="-1" th:attr="id=${'ViewUserDetailsModal' + user.id}">

                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <section class="section">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="row mb-3">
                                                            <div class="col-11">
                                                                <h5 class="card-title"
                                                                    th:text="#{label.view.details}"></h5>
                                                            </div>
                                                            <div class="col-1" id="closeModal">
                                                                <div class="plus-icon-container">
                                                                    <i class="bi bi-x-circle"
                                                                       data-bs-dismiss="modal"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Username -->
                                                        <div class="row mb-3">
                                                            <div class="col-sm-6">
                                                                <strong>Username</strong>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label th:text="${user.username}"></label>
                                                            </div>
                                                        </div>
                                                        <!-- First Name -->
                                                        <div class="row mb-3">
                                                            <div class="col-sm-6">
                                                                <strong>First Name</strong>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label th:text="${user.firstName}"></label>
                                                            </div>
                                                        </div>
                                                        <!-- last Name -->
                                                        <div class="row mb-3">
                                                            <div class="col-sm-6">
                                                                <strong>Last Name</strong>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label th:text="${user.lastName}"></label>
                                                            </div>
                                                        </div>
                                                        <!-- Gender -->
                                                        <div class="row mb-3">
                                                            <div class="col-sm-6">
                                                                <strong>Gender</strong>
                                                            </div>
                                                            <div th:if="${user.gender != null}" class="col-sm-6">
                                                                <label th:text="${user.gender.getFullString()}"></label>
                                                            </div>
                                                        </div>
                                                        <!-- Religion -->
                                                        <div class="row mb-3">
                                                            <div class="col-sm-6">
                                                                <strong>Religion</strong>
                                                            </div>
                                                            <div th:if="${user.religion != null}" class="col-sm-6">
                                                                <label th:text="${user.religion.getFullString()}"></label>
                                                            </div>
                                                        </div>
                                                        <!-- DoB -->
                                                        <div class="row mb-3">
                                                            <div class="col-sm-6">
                                                                <strong>Date of Birth</strong>
                                                            </div>
                                                            <div th:if="${user.birthDate != null}" class="col-sm-6">
                                                                <label th:text="${user.birthDate}"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- End of Modal -->

                        </td>
                        <td>
                            <div th:if="${user.jobInformation != null}">
                                <input type="hidden"
                                       name="selectedUserId"
                                       th:value="${user.id}">
                                <button class="btn btn-outline-warning"
                                        data-bs-toggle="modal"
                                        th:attr="data-bs-target=${'#ViewCompanyProfile' + user.id}"
                                        data-th-rows="${user}"
                                        type="submit">
                                    <i class="bi bi-briefcase-fill"></i>
                                </button>
                            </div>

                            <div th:if="${user.jobInformation == null}">
                                <form th:action="@{/createCompanyProfile}" method="get">
                                    <input type="hidden"
                                           name="selectedUserId"
                                           th:value="${user.id}">
                                    <button class="btn btn-outline-dark"
                                            type="submit">
                                        <i class="bi bi-window-plus"></i>
                                    </button>
                                </form>
                            </div>

                            <!-- View Company profile modal -->

                            <div class="modal"
                                 tabindex="-1" th:attr="id=${'ViewCompanyProfile' + user.id}">

                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <section class="section">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="row mb-3">
                                                            <div class="col-11">
                                                                <h5 class="card-title"
                                                                    th:text="#{label.company.profile}"></h5>
                                                            </div>
                                                            <div class="col-1">
                                                                <div class="plus-icon-container">
                                                                    <i class="bi bi-x-circle"
                                                                       data-bs-dismiss="modal"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Joining Date -->
                                                        <div class="row mb-3">
                                                            <div class="col-sm-6">
                                                                <strong>Joining Date</strong>
                                                            </div>
                                                            <div class="col-sm-6" th:if="${user.jobInformation != null}">
                                                                <label th:text="${user.jobInformation.joiningDateString}"></label>
                                                            </div>
                                                        </div>
                                                        <!-- Designation -->
                                                        <div class="row mb-3">
                                                            <div class="col-sm-6">
                                                                <strong>Designation</strong>
                                                            </div>
                                                            <div class="col-sm-6" th:if="${user.jobInformation != null}">
                                                                <label th:text="${user.jobInformation.designation.title}"></label>
                                                            </div>
                                                        </div>
                                                        <!-- Basic Salary -->
                                                        <div class="row mb-3">
                                                            <div class="col-sm-6">
                                                                <strong>Basic Salary</strong>
                                                            </div>
                                                            <div class="col-sm-6" th:if="${user.jobInformation != null}">
                                                                <label th:text="${user.jobInformation.getBasicSalaryString()}"></label>
                                                            </div>
                                                        </div>

                                                        <!-- Conveyance Allowance -->
                                                        <div class="row mb-3">
                                                            <div class="col-sm-6">
                                                                <strong>Conveyance Allowance</strong>
                                                            </div>
                                                            <div class="col-sm-6" th:if="${user.jobInformation != null}">
                                                                <label th:text="${user.jobInformation.conveyanceAllowanceString}"></label>
                                                            </div>
                                                        </div>

                                                        <!-- Medical allowance -->
                                                        <div class="row mb-3">
                                                            <div class="col-sm-6">
                                                                <strong>Conveyance Allowance</strong>
                                                            </div>
                                                            <div class="col-sm-6" th:if="${user.jobInformation != null}">
                                                                <label th:text="${user.jobInformation.medicalReimbursementString}"></label>
                                                            </div>
                                                        </div>

                                                        <!-- House Rent -->
                                                        <div class="row mb-3">
                                                            <div class="col-sm-6">
                                                                <strong>House Rent</strong>
                                                            </div>
                                                            <div class="col-sm-6" th:if="${user.jobInformation != null}">
                                                                <label th:text="${user.jobInformation.houseRentString}"></label>
                                                            </div>
                                                        </div>
                                                        <!-- Action -->
                                                        <div class="form-floating">
                                                            <div class="form-group row">
                                                                <div class="col-sm-6">
                                                                    <form th:action="@{/editCompanyProfile}"
                                                                          method="get">
                                                                        <input type="hidden"
                                                                               name="selectedUserId"
                                                                               th:value="${user.id}">
                                                                        <input type="submit"
                                                                               class="btn btn-primary"
                                                                               name="action"
                                                                               value="Edit"/>
                                                                    </form>
                                                                </div>

                                                                <div class="col-sm-6">
                                                                    <input type="submit"
                                                                           class="btn btn-secondary"
                                                                           name="action"
                                                                           value="close"
                                                                           data-bs-dismiss="modal"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- End of Modal -->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>

<a href="#"
   class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>

<div th:replace="~{footer}"></div>
<div th:replace="~{scripts}"></div>
<script th:src="@{/js/salaryInput.js}"></script>
</body>
</html>