<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title th:text="#{label.designation.page.title}"/>
    <meta content="" name="description">
    <meta content="" name="keywords">
</head>

<body>
<div th:replace="~{links}"></div>
<div th:replace="~{topbar}"></div>
<div th:replace="~{sidebar}"></div>

<main id="main" class="main">
    <section class="section">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-11">
                        <h5 class="card-title"
                            th:text="${title}"></h5>
                    </div>

                    <div class="col-1">
                        <div class="plus-icon-container"
                             data-bs-toggle="modal"
                             data-bs-target="#AddDesignationModal">
                            <i class="bi bi-plus-lg plus-icon icon-20"></i>
                        </div>
                    </div>
                </div>
                <table class="table table-hover table-striped datatable"
                       id="designationsTable">
                    <thead>
                    <tr>
                        <th scope="col" th:text="#{label.numbers}"></th>
                        <th scope="col" th:text="#{label.username}"></th>
                        <th scope="col-sm-10" th:text="#{label.title}"></th>
                        <th scope="col" th:text="#{label.view.details}"></th>
                        <th scope="col" th:text="#{label.company.profile}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user, iterStat: ${users}">
                        <th scope="row" th:text="${iterStat.index + 1}"></th>
                        <td th:text="${user.fullName}"></td>
                        <td th:text="${user.username}"></td>
                        <td>
                            <button class="btn btn-outline-dark"
                                    data-bs-toggle="modal"
                                    th:attr="data-bs-target=${'#ViewUserDetailsModal' + user.id}"
                                    data-th-rows="${user}"
                                    type="submit">
                                <i class="bi bi-info-circle-fill"></i>
                            </button>

                            <!-- Add Details View Modal -->

                            <div class="modal"
                             tabindex="-1" th:attr="id=${'ViewUserDetailsModal' + user.id}">

                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <section class="section">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row mb-3">
                                                        <div class="col-11">
                                                            <h5 class="card-title"
                                                                th:text="#{label.view.details}"></h5>
                                                        </div>
                                                        <div class="col-1" id="closeModal">
                                                            <div class="plus-icon-container">
                                                                <i class="bi bi-x-circle"
                                                                   data-bs-dismiss="modal"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-3">
                                                        <div class="col-sm-3">
                                                            <strong>Username</strong>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label th:text="${user.username}"></label>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-3">
                                                        <div class="col-sm-3">
                                                            <strong>First Name</strong>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label th:text="${user.firstName}"></label>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-3">
                                                        <div class="col-sm-3">
                                                            <strong>Last Name</strong>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label th:text="${user.lastName}"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>

                            <!-- End of Modal -->

                        </td>
                        <td>
                            <div th:if="${user.userJobDetails}">
                                <form th:action="@{/viewCompanyProfile}" method="get">
                                    <input type="hidden"
                                           name="selectedUserId"
                                           th:value="${user.id}">

                                    <button class="btn btn-outline-warning"
                                           type="submit">
                                        <i class="bi bi-briefcase-fill"></i>
                                    </button>
                                </form>
                            </div>

                            <div th:unless="${user.userJobDetails}">
                                <form th:action="@{/createCompanyProfile}" method="get">
                                    <input type="hidden"
                                           name="selectedUserId"
                                           th:value="${user.id}">
                                    <button class="btn btn-outline-dark"
                                            type="submit">
                                        <i class="bi bi-window-plus"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>

<a href="#"
   class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>

<div th:replace="~{footer}"></div>
<div th:replace="~{scripts}"></div>
<script th:src="@{/js/salaryInput.js}"></script>
</body>
</html>